@*@Model IEnumerable<WindLog.Models.Session>*@
@{
    ViewBag.Title = "Sessions Page";
}

<h1>Sessions</h1>

<h2>Under construction !!!</h2>


    <div class="col-md-6">
        <ul>
            @foreach (var session in Model)
            {
                <li><b>(@session.SessionDate.ToString("d")-@session.Spot.Name)</b> @session.Name </li>
                <ul>
                    @foreach (var sessionMaterial in @session.SessionMaterials)
                    {
                        <li><b>@sessionMaterial.Material.MaterialType.Name:</b> @sessionMaterial.Material.Name </li>
                    }
                </ul>
            }
        </ul>
    </div>
