@*@Model IEnumerable<WindLog.Models.Session>*@
@{
    ViewBag.Title = "Sessions Page";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/controllers/simpleControls.js"></script>
    <script src="~/lib/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/js/controllers/session/app-sessions.js"></script>
    <script src="~/js/controllers/session/sessionsController.js"></script>
}

<h3 class="text-center">Sessions</h3>
<div ng-app="app-sessions">
    <div ng-view></div> @*sessionsView.html in client side*@
</div>


    @*<div class="col-md-6">
        <ul>
            @foreach (var session in Model)
            {
                <li><b>(@session.SessionDate.ToString("d")-@session.Spot.Name)</b> @session.Name </li>
                <ul>
                    @foreach (var sessionMaterial in @session.SessionMaterials)
                    {
                        <li><b>@sessionMaterial.Material.MaterialType.Name:</b> @sessionMaterial.Material.Name </li>
                    }
                </ul>
            }
        </ul>
    </div>*@
